/* styles.css */
html,
body {
    font-family: 'Prompt', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* Header */
.header {
    background: linear-gradient(to right, #a34803e5, #484540);
    color: rgb(240, 200, 191);
    padding: 0rem;
}

/* จัดการ main */
main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* จัดให้อยู่ตรงกลาง */
    padding: 20px;
    background-color: #f9f9f9da;
    /* สีพื้นหลังของ main */
    border: 1px solid #ccc;
    /* เส้นกรอบรอบ main */
    border-radius: 8px;
    /* มุมโค้ง */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* เงารอบกรอบ */
}

/* สไตล์สำหรับแต่ละบล็อก */
.fake-block {
    margin: 20px 0;
    /* ระยะห่างระหว่างบล็อก */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    /* เพิ่มเงาเล็กน้อย */
}

/* สไตล์เพิ่มเติมสำหรับแต่ละบล็อก */
.block-1 {
    background-color: #f0f8ff;
}

.block-2 {
    background-color: #f5f5dc;
}

.block-3 {
    background-color: #e6e6fa;
}

.block-4 {
    background-color: #48474655;
}
/* Typography */
h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(54, 3, 3);
}

h2 {
    text-align: center;
    white-space: pre-line;
}


h4 {
    font-weight: bold;
    color: rgb(3, 17, 54);
    text-align: center;
}

p {
    text-indent: 50px;
}

ul {
    font-size: 1rem;
    font-weight: bold;
}
/* Navigation Menu */
.nav-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list li {
    display: inline;
    margin-right: 2rem;
}

.nav-list a {
    color: #e0ecff;
    text-decoration: none;
}

.nav-list a:hover {
    color: rgb(246, 237, 117);
}